.stream-wrapper {
    flex-direction: column;
    display: flex;
    max-width: 100%;
    height: 100vh;
}

.stream-container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 100%;
    height: 100vh;
}

.stream-video-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #000;
    height: 95vh;
    width: 80%;
}

#video-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
}

video {
    display: block;
    flex: 1;
    object-fit: cover;
    border: 5px solid #000;
    max-width: 600px;
}

.stream_controls {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c1e20;
    padding: 5px;
    justify-content: center;
}

.stream_controls_block {
    display: flex;
}

.stream_controls_button {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    border-radius: 10px;
    margin: 5px;
    color: grey;
}

.stream_controls_button:hover {
    transition: 0.5s;
    transition-delay: 0.2s;
    transform: scale(1.2);
    color: whitesmoke;
}

.box-chat_message {
    min-height: 90vh;
    max-height: 90vh;
    overflow-y: auto;
}

.box-chat {
    width: 20%;
    height: 90vh;
    max-height: 90vh;
    box-shadow: 0 0 10px 0 black;
}

.box-chat_message {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 400;
}

.send-box {
    width: 100%;
    height: 5vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: whitesmoke;
}

textarea {
    display: flex;
    background: none;
    border: none;
    color: black;
    font-family: "roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    outline: none;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.send-message-btn {
    width: 20%;
    height: 5vh;
    margin-right: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: lightseagreen;
}

.send-message-btn:hover {
    transition: 0.5s;
    transition-delay: 0.2s;
    background-color: gray;
}