.change-user-password-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.75);
  display: flex;
  transition: opacity 250ms ease;
}

.change-user-password-background:target {
  opacity: 1;
  pointer-events: all; 
}

.change-user-password-container {
  margin: auto;
  width: 35%;
  height: 45%;
  background-color: #1e2124;
  border-radius: 10px;
  box-shadow: 0 10px 32px 0 #424549;
}

.change-user-password-container .title {
  width: 100%;
  height: 10%;
  text-align: center;
  color: whitesmoke;
  padding: 15px;
  font-size: 30px;
  font-weight: bold;
  text-transform: none;
}

.change-user-password-container .body {
  width: 100%;
  height: 75%;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.change-user-password-wrapper {
  width: 100%;
  height: 100%;
}

.change-user-password-description {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  height: 15%;
  text-align: center;
  color: whitesmoke;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: lighter;
}

.user-current-password-title {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%; 
  height: 5%;
  margin-bottom: 5px;
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.user-current-password-input-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 25%;
}

.user-current-password-input {
  background: whitesmoke;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  padding: 15px;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bold;
}

.user-current-password-input::placeholder {
  color: #00000099;
  font-weight: bold;
  font-size: 15px;
}

.change-user-password-title {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%; 
  height: 5%;
  margin-bottom: 5px;
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.change-user-password-input-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 25%;
}

.change-user-password-input {
  background: whitesmoke;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  padding: 15px;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bold;
}

.change-user-password-input::placeholder {
  color: #00000099;
  font-weight: bold;
  font-size: 15px;
}

.confirm-new-password-input-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 25%;
}

.confirm-new-password-title {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%; 
  height: 5%;
  margin-bottom: 5px;
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.confirm-new-password-input {
  background: whitesmoke;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  padding: 15px;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bold;
}

.confirm-new-password-input::placeholder {
  color: #00000099;
  font-weight: bold;
  font-size: 15px;
}

.change-user-password-container .footer {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.change-user-password-container .footer button {
  width: 100px;
  height: 35px;
  margin: 15px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bolder;
}

.cancel-change-user-password-modal {
  background-color: transparent;
  color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
}

.cancel-change-user-password-modal:hover {
  transition: 0.5s;
  transform: scale(1.2);
  background: whitesmoke;
  color: black;
}

.continue-change-user-password-modal {
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.continue-change-user-password-modal:hover {
  transition: 0.5s;
  transform: scale(1.2);
}