.modalBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.75);
  display: flex;
  transition: opacity 250ms ease;
}

.modalBackground:target {
  opacity: 1;
  pointer-events: all;
}
    
.modalContainer {
  margin: auto;
  width: 25%;
  height: 45%;
  background-color: #1e2124;
  border-radius: 10px;
  box-shadow: 0 10px 32px 0 #424549;
}
  
.modalContainer .title {
  width: 100%;
  height: 10%;
  text-align: center;
  color: whitesmoke;
  padding: 15px;
  font-size: 35px;
  font-weight: bold;
}

.modalContainer .body {
  width: 100%;
  height: 70%;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.modalContainer .create-description {
  width: 100%; 
  text-align: center;
  color: whitesmoke;
  padding: 15px;
  font-size: 18px;
  font-weight: lighter;
}

.upload-group-chat-image {
  position: relative;
  width: 50px;
  height: 50px;
  padding-top: 15px;
  top: 13%;
  left: 44%;
  font-size: 15px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: transparent;
  overflow: hidden;
  transition: 0.2s;
  box-sizing: border-box;
}

.upload-group-chat-image input[type="file"] {
  cursor: pointer;
  position: relative;
  text-align: center;
  background: transparent;
  transform: scale(5);
  opacity: 0;
}

.upload-group-chat-image:hover {
  transition: 0.5s;
  transform: scale(2);
  color: black;
  background: whitesmoke;
}

.group-chat-title {
  width: 100%; 
  margin-top: 90px;
  margin-bottom: 7px;
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.create-chat-room-name {
  background: whitesmoke;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  padding: 15px;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bold;
}

.create-chat-room-name:focus {
  display: inline-block;
  box-shadow: 0 0 0 0.2rem #ffffff;
  backdrop-filter: blur(12rem);
}

.create-chat-room-name::placeholder {
  color: #00000099;
  font-weight: bold;
  font-size: 15px;
}
  
.modalContainer .footer {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.modalContainer .footer button {
  width: 120px;
  height: 45px;
  margin: 45px;
  border: none;
}

.cancel-create-group-modal {
  background-color: transparent;
  color: whitesmoke;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.cancel-create-group-modal:hover {
  transition: 0.5s;
  transform: scale(1.2);
  background: whitesmoke;
  color: black;
}

.continue-create-group-modal {
  background-color: cornflowerblue;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.continue-create-group-modal:hover {
  transition: 0.5s;
  transform: scale(1.2);
}
  
  
  
  