.modalEditBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.75);
  display: flex;
  transition: opacity 250ms ease;
}

.modalEditBackground:target {
  opacity: 1;
  pointer-events: all;
  transition-delay: 0.5s;
}
    
.modalEditContainer {
  margin: auto;
  width: 25%;
  height: 40%;
  background-color: #1e2124;
  border-radius: 10px;
  box-shadow: 0 10px 32px 0 #424549;
}
  
.modalEditContainer .modal-edit-title {
  width: 100%;
  height: 10%;
  text-align: center;
  color: whitesmoke;
  padding: 15px;
  font-size: 35px;
  font-weight: bold;
}

.modalEditContainer .modal-edit-body {
  width: 100%;
  height: 70%;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.edit-chat-room-name-wrapper {
  width: 100%;
  height: 100%;
}

.modalEditContainer .edit-description {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  height: 30%;
  text-align: center;
  color: whitesmoke;
  padding: 15px;
  font-size: 18px;
  font-weight: lighter;
}

.group-chat-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%; 
  height: 15%;
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.edit-group-chat-preview-image-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45%;
}

.edit-image-preview-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-image-preview{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.edit-group-chat-image-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-group-chat-image-button {
  width: 87px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  text-align: center; 
  color: black;
  overflow: hidden;
  transition: 0.2s;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 5px;
}

.edit-group-chat-image-button input[type="file"] {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  text-align: center;
  opacity: 1;
}

.edit-chat-room-name-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
}

.edit-chat-room-name-input {
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  border-radius: 10px;
  width: 100%;
  height: 35px;
  padding: 15px;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bold;
}

.edit-chat-room-name-input::placeholder {
  color: #00000099;
  font-weight: bold;
  font-size: 15px;
}
  
.modalEditContainer .modal-edit-footer {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.modalEditContainer .modal-edit-footer button {
  width: 120px;
  height: 35px;
  margin: 45px;
  border: none;
  font-size: 17px;
  font-weight: bolder;
}

.cancel-edit-group-modal {
  background-color: transparent;
  color: whitesmoke;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.cancel-edit-group-modal:hover {
  transition: 0.5s;
  transform: scale(1.2);
  background: whitesmoke;
  color: black;
}

.continue-edit-group-modal {
  background-color: cornflowerblue;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.continue-edit-group-modal:hover {
  transition: 0.5s;
  transform: scale(1.2);
}