.modal-join-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.75);
  display: flex;
  transition: opacity 250ms ease;
  }
  
.modal-join-background:target {
  opacity: 1;
  pointer-events: all;
}
  
.modal-join-container {
  margin: auto;
  width: 35%;
  height: 30%;
  background-color: transparent;
  border-radius: 10px;
}
  
.modal-join-container .join-modal-title {
  width: 100%;
  height: 20%;
  text-align: center;
  color: whitesmoke;
  background: #36393e;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  font-size: 30px;
  font-weight: bold;
  text-transform: none;
}
  
.modal-join-container .join-modal-body {
  width: 100%;
  height: 55%;
  padding: 15px;
  align-items: center;
  justify-content: center;
  background: #36393e;
}

.join-group-chat-wrapper {
  width: 100%;
  height: 100%;
}
  
.join-description {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  height: 40%;
  text-align: center;
  color: whitesmoke;
  padding: 15px;
  font-size: 18px;
  font-weight: lighter;
}
  
.join-title {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%; 
  height: 25%;
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
  
.join-group-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35%;
}
  
.join-group-input {
  background: whitesmoke;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  padding: 15px;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bold;
}

.join-group-input::placeholder {
  color: #00000099;
  font-weight: bold;
  font-size: 15px;
}
  
.modal-join-container .join-modal-footer {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #1e2124;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
  
.modal-join-container .join-modal-footer button {
  width: 100px;
  height: 35px;
  margin: 15px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bolder;
}
  
.cancel-join-group-modal {
  background-color: transparent;
  color: whitesmoke;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
  
.cancel-join-group-modal:hover {
  transition: 0.5s;
  transition-delay: 0.1s;
  transform: scale(1.2);
  background: whitesmoke;
  color: black;
}
  
.continue-join-group-modal {
  background-color: cornflowerblue;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
  
.continue-join-group-modal:hover {
  transition: 0.5s;
  transition-delay: 0.1s;
  transform: scale(1.2);
  background-color: rgb(51, 108, 214);
}