.modal-leave-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.75);
  display: flex;
  transition: opacity 250ms ease;
}

.modal-leave-background:target {
  opacity: 1;
  pointer-events: all;
}

.modal-leave-container {
  margin: auto;
  width: 30%;
  height: 25%;
  background-color: #1e2124;
  border-radius: 10px;
  box-shadow: 0 10px 32px 0 #424549;
}

.modal-leave-container .title {
  width: 100%;
  height: 10%;
  text-align: center;
  color: red;
  padding: 15px;
  font-size: 35px;
  font-weight: bold;
}

.modal-leave-container .body {
  width: 100%;
  height: 55%;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.leave-description {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  height: 100%;
  text-align: center;
  color: whitesmoke;
  padding: 15px;
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.5;
}

.modal-leave-container .footer {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-leave-container .footer button {
  width: 120px;
  height: 35px;
  margin: 45px;
  border: none;
  font-size: 17px;
  font-weight: bolder;
}

.cancel-leave-chat-modal {
  background-color: transparent;
  color: whitesmoke;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.cancel-leave-chat-modal:hover {
  transition: 0.5s;
  transform: scale(1.2);
  background: whitesmoke;
  color: black;
}

.continue-leave-chat-modal {
  background-color: red;
  color: whitesmoke;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.continue-leave-chat-modal:hover {
  transition: 0.5s;
  transform: scale(1.2);
}