.setting-function-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 60%;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40%;
    background: transparent;
    border-radius: 5px; 
    background: #36393e;
    
}

.setting-function-wrapper:hover { 
    transition: 0.5s;
    background: #5e6268;
}

.setting-user-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 15px;
    font-weight: bolder;
    margin-left: 10px;
}

.setting-user-profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: whitesmoke;
    background: transparent;
    cursor: pointer;
}

.separator8 {
    width: 60%;
    margin-left: 40%;
    border-bottom: 1px solid;
    border-color: #99AAB5;
}

