.setting-function-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 70%;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30%;
    background: transparent;
    cursor: pointer;
    border-radius: 5px; 
}

.setting-function-wrapper:hover { 
    transition: 0.5s;
    background: #424549;
}

.setting-function-title {
    color: whitesmoke;
    font-size: 15px;
    font-weight: bolder;
    margin-left: 10px;
}

.separator8 {
    width: 65%;
    margin-left: 35%;
    border-bottom: 1px solid;
    border-color: #99AAB5;
}

