.profile-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 100%;
    background-color: #36393e;
}
  
.profile-form-wrapper {
    width: 70%;
    height: 50%;
}

.back-to-chat-box-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.back-to-chat-box-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
    background: #1e2124;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    cursor: pointer;
}

.back-to-chat-box-button:hover {
    transform: scale(1.25);
    transition-delay: 0.2s;
    transition: 0.5s;
    background: #36393e;
    border-color: whitesmoke;
}

.back-to-chat-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.profile-form-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    position: relative;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #282b30;
    flex-direction: column;
    overflow: hidden;
}
  
.profile-user-image img {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px; 
    position: relative;
    border-radius: 50%;
    border: 2px dashed whitesmoke;
    margin-bottom: 10px;
}

.upload-image-file-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
}
  
.upload-image-file-button {
  position: relative;
  padding: 13px 19px;
  width: 150px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bolder;
  line-height: 1.5;
  text-align: center; 
  color: whitesmoke;
  background-color: #36393e;
  border: 0 ;
  overflow: hidden;
  transition: 0.2s;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 5px;
}
  
.upload-image-file-button input[type="file"] {
    cursor: pointer;
    position: absolute;
    transform: scale(3);
    opacity: 0;
}
  
input[type="file"]::-webkit-file-upload-button {
    color: whitesmoke;
}

.upload-image-file-button:hover {
    transition: 0.5s;
    background-color: #5e6368;
}

.upload-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    background-color: #7289da;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bolder;
}

.profile-user-name-wrapper {
    width: 100%;
    margin: 10px;
    height: 5%;
    font-size: 20px;
    font-weight: bolder;
    text-transform: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-user-name {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 20px;
    width: 100%;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
}
  
.user-name-title-wrapper {
    display: inline-flex;
    width: 95%;
    height: 15%;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    background: #36393e;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-transform: none;
}
  
.user-name-title {
    display: flex;
    max-width: 80%;
    font-size: 15px;
    font-weight: bolder;
}
  
span.user-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100ch;
    margin-left: 5px;
    font-weight: lighter;
}
  
.change-user-name-button{
    width: 75px;
    height: 40px;
    border-radius: 5px;
    background:  #424549;
    color: whitesmoke;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}
  
.change-user-name-button:hover {
    transition: 0.5s;
    background-color: #61656b;
}
  
.user-email-title-wrapper {
    display: inline-flex;
    width: 95%;
    height: 15%;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    background: #36393e;
    text-transform: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
  
.user-email-title {
    display: flex;
    max-width: 80%;
    font-size: 15px;
    font-weight: bolder;
}
  
span.user-email {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100ch;
    margin-left: 5px;
    font-weight: lighter;
}
  
.user-password-title-wrapper {
    display: inline-flex;
    width: 95%;
    height: 15%;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}
  
.user-password-title {
    display: flex;
    max-width: 80%;
    font-size: 15px;
}
  
span.user-password {
  font-size: 20px;
  font-weight: bolder;
}
  
.change-user-password-button {
    width: 75px;
    height: 40px;
    border-radius: 5px;
    background:  cornflowerblue;
    color: whitesmoke;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}
  
.change-user-password-button:hover {
    transition: 0.5s;
    background-color: rgb(51, 108, 214);
}