:root {
    --primary: #fff;
  }
  
.btns {
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}
  
.btns--medium {
  width: 100%;
  font-size: 20px;
  justify-content: end;
  letter-spacing: 2px;
  color: whitesmoke;
  background: transparent;
}

.btns--medium:hover {
  transition: all 0.3s ease-out;
  background: #424549;
  color: whitesmoke;
  transition-delay: 0.1s;
}

.log-out-icon {
  display: inline-flex;
  margin-left: 55px;
}