:root {
    --primary: #fff;
  }
  
.btns {
  cursor: pointer;
  width: 100%;
}
  
.btns--medium {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 18px;
  font-weight: bolder;
  color: whitesmoke;
  background: transparent;
  border-radius: 5px;
}

.btns--medium:hover {
  transition: all 0.3s ease-out;
  background: #5e6268;
  color: whitesmoke;
  transition-delay: 0.1s;
}

.log-out-icon {
  display: inline-flex;
  margin-left: 5px;
}