.side-bar-wrapper {
  display: flex;
  flex-direction: column;
  background: #282b30;
  height: 100vh;
  width: 20%;
}

.sidebar-list-header-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  background: #1e2124;
}

.separator1 {
  border-bottom: 1px solid;
  border-color: #1e2124;
}

.sidebar-list-header-text {
  justify-content: center;
  align-content: center;
  font-size: 15px;
  font-weight: bolder;
  font-family: 'roboto', sans-serif;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-left: 15px;
}

.sidebar-search-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  height: 5vh;
}

.sidebar-search-input {
  display: inline-flex;
  margin-left: 10px;
  width: 100%;
}

.sidebar-search-input-icon {
  justify-content: flex-start;
  align-content: center;
  margin-right: 10px;
  color: #99AAB5;
}

.sidebar-search-input-wrapper {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 80%;
  background: #1e2124;
  border-radius: 10px;
  margin-bottom: 1px;
}

.sidebar-search-input-text {
  display: flex;
  background: none;
  border: none;
  color: #99AAB5;
  font-family: "roboto", sans-serif;
  font-size: 13px;
  font-weight: 700;
  outline: none;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 95%;
}

.sidebar-search-input-text::placeholder {
  color:  #99AAB5;
  white-space: nowrap;
  width: 100%;
}

.chat-place-wrapper {
  width: 100%;
  height: 82%;
  display: inline-grid;
}

.separator2 {
  border-bottom: 1px solid;
  border-color: #1e2124;
}

.server-chatroom-wrapper {
  overflow-y:auto;
  scroll-behavior: smooth;
  height: 69vh;
}

.sidebar-bottom-wrapper {
  background: transparent;
  height: 7.85%;
}

.sidebar-bottom-content-wrapper {
  background: #1e2124;
  width: 100%;
  height: 100%;
}

.sidebar-bottom-user {
  display: inline-flex;
  padding: 5%;
  height: 100%;
  width: 100%;
  align-content: center;
  justify-content: flex-start;
}

.current-user-image {
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  background-image: url("../../assets/images/bg.jpg");
  background-size:cover;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
}

.current-user-name-text {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 5%;
  font-size: 15px;
  font-weight: 500;
  font-family: 'roboto', sans-serif;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 25ch;
  color: whitesmoke;
}

span.current-user-name-text {
  align-items: center;
  justify-content: center;
}

.sidebar-bottom-user:hover {
  transition: 0.5s;
  background: #424549;
  border-radius: 10px;
  transform: scale(0.85);
  overflow: hidden;
}  


