* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #282b30;
}

.profile-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 60vw;
  height: 50vh;
  position: relative;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #36393e;
  backdrop-filter: blur(8.5px);
  flex-direction: column;
  overflow: hidden;
}

.profile-user-image {
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 40%;
  margin: 15px;
  background-image: url("../../assets/images/bg.jpg");
  background-size: 100% 100%;
  position: relative;
  border-radius: 50%;
}

.upload-image-file {
  position: relative;
  width: 20%;
  height: 20%;
  padding-left: 4.5%;
  left: 70%;
  top: 80%;
  font-size: 15px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #7289da;
  overflow: hidden;
  transition: 0.2s;
  box-sizing: border-box;
}

.upload-image-file input[type="file"] {
  cursor: pointer;
  position: relative;
  left: 0%;
  top: 10%;
  width: 28%;
  height: 20%;
  text-align: center;
  background: transparent;
  transform: scale(5);
  opacity: 0;
}

.upload-image-file:hover {
  background: #4f6acb;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

.profile-user-name {
    display: flex;
    width: 70%;
    height: 5%;
    font-size: 15px;
    margin: 2%;
    line-height: 1.5;
    align-items: center;
    justify-content: center;
}








