.chat-box-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    background: transparent;
    height: 100vh;
    width: 70%;
}

.chat-box-top {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 7.1%;
    background:#36393e;
    justify-content: flex-end;
    align-items: center;
}

.chat-box-top-wrapper {
    display: inline-flex;
    align-items: center;
    position: absolute;
    left: 15%;
    font-size: 15px;
    font-weight: 500;
    font-family: 'roboto', sans-serif;
    color: white;
}

.chat-box-room-name {
    align-items: center;
    position: absolute;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'roboto', sans-serif;
    color: white;
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50ch;
}

.call-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    background: transparent;
    color: white;
    margin-right: 15px;
}

.call-button:hover {
    transform: scale(1.2);  
    transition: 0.5s;
    color: black;
    background: linear-gradient(270deg, #00c6ff 0%, #0072ff 100%);
}

.video-call-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    background: transparent;
    color: white;
    margin-right: 15px;
}

.video-call-button:hover {
    transform: scale(1.2);  
    transition: 0.5s;
    color: black;
    background: linear-gradient(270deg, #00c6ff 0%, #0072ff 100%);
}

/* .separator3 {
    border-bottom: 1px solid;
    border-color: #1e2124;
  } */

.chat-box-page {
    display: flex;
    width: 100%;
    height: 85%;
    background: #36393e;
    overflow-y: auto;
    scroll-behavior: smooth;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.message-received-wrapper {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: white;
}

.message-user-name-wrapper {
    display: inline-flex;
}
.sender-image img {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-top: 4px;
    background-size:cover;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
} 

.message-user-name {
    display: inline-flex;
    align-content: center;
    justify-content: flex-start;
    margin-left: 15px;
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    width: 98%;
}

span.message-user-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50ch;
    margin-right: 5px;
}

.time {
    display: inline-flex;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 10px;
    font-weight: 400;
    color: #99AAB5;
}

.message {
    display: flex;
    margin-left: 50px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: 400;
}

.message-received-wrapper:hover { 
    transition: 0.5s;
    background: #424549;
}

/* .separator4 {
    border-bottom: 1px solid;
    border-color: #1e2124;
} */

.main-room-bottom {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    height: 7.89%;
    background:#36393e;
}

.chat-input-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px;
    width: 100%;
    color: whitesmoke;
  }
  
.chat-input-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    background: whitesmoke;
    border-radius: 10px;
    width: 100%;
}
  
.chat-input-text {
    display: flex;
    background: none;
    border: none;
    color: black;
    font-family: "roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    outline: none;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 100%;
    margin: 15px;
}
  
::placeholder {
    color: #99AAB5;
    white-space: nowrap;
    width: 100%;
    font-weight: 700;
}

.chat-input-content {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    width: 100%;
}
