.member-in-chat-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.member-in-chat-wrapper:hover {
    transform: scale(1.1);  
    transition: 0.5s;
    background: #424549;
}

.member-image img {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin: 10px;
    background-size:cover;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
}

.member-name {
    position: absolute;
    font-size: 15px;
    font-weight: 500;
    margin-left: 55px;
    margin-bottom: 5px;
    font-family: 'roboto', sans-serif;
    color: white;
    max-width: 75%;
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 20ch;
}

.fa-toilet {
    margin-left: 5px;
}

.fa-poop {
    margin-left: 5px;
}

.fa-smile {
    margin-left: 5px;
}

.no-user-display-wrapper {
    display: block;
    width: 100%;
    height: 79.5vh;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.no-user-display-description-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5%;
    font-size: 19px;
    font-weight: bolder;
    color: whitesmoke;
}

.no-user-display-description-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
    width: 100%;
    height: 10%;
    font-size: 15px;
    padding: 10px;
    color: whitesmoke;
}
